# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
pip-wheel-metadata/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.tox/
.nox/
.pytest_cache/

# Virtual environments
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python language server / caches
.mypy_cache/
.pyre/

# Misc
.DS_Store
.env
.env.*

# Project metadata
task_cli.egg-info/
